{{!-- 
   includes/contact-form.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<form>
    <input type="text" placeholder="Voer je volledige naam in">
    <input type="email" placeholder="Voer je e-mail in">
    <input type="password" placeholder="Geef een onderwerp op">
    <textarea placeholder="Geef je bericht in" row="50" col="50"></textarea>
    <button class="margin btn btn--small">Versturen</button>
</form>