{{!-- 
   includes/footer-social.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<div class="footer center">
    <h2 class="footer__title">Share this project!</h2>
</div>