{{!-- 
   includes/head-seo.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<h1 class="text--bold text--uppercase text--primary">Log in</h1>
<form>
    <input type="text" placeholder="Voer je gebruikersnaam in">
    <input type="password" placeholder="Voer je wachtwoord in">
    <button class="margin btn wide">Login</button>
</form>
<p class="center">Geen account? <span><a href="#">Registreer hier!</a></span></p>