{{!-- 
   includes/news-detailshbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<img src="http://lorempixel.com/400/200">
<h2>Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, asperiores quam. Exercitationem non enim rerum deleniti commodi ducimus, maiores odit et alias quo provident quia quis odio aperiam. Minima, ea.</p>