{{!-- 
   includes/profile-info.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<div class="profile-info clearfix">
    <img class="profile profile-info__photo" src="http://lorempixel.com/100/100">
    <div class="profile-info__text">
        <p class="text--pink text--bold">Athony Nys</p>
        <p>CMO - Graphic Design, 2de jaar</p>
    </div>
</div>