{{!-- 
   includes/profile-card.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<div class="profile-card">
    <div class="profile-card__content clearfix">
        <div class="left">
            <h3>Anthoy Nys</h3>
            <p>Graphic Design, 2de jaar</p>
            <ul class="profile-card__content__social clearfix">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div class="right">
            <span class="profile-card__content--likes">Likes<br>54 853</span><br>
            <span class="profile-card__content--views">Views<br>54 853</span>
        </div>
    </div>
</div>