<div class="navigation">
  <div class="navigation_links_bar">
    <script type="text/x-handlebars-template" id="navigation_links">
        \{{#each this}}
        <p>\{{naam}}</p>
        \{{/each}}
    </script> 
    {{!-- div waarin de links verwacht --}}
    <div id="links_result">
      {{!--resultaat--}}
    </div>
    <script>
      //json
      const listLinks = 
              [
                {
                  "naam": "Home"
                },
              ];
              
      
      const htmlTemplate = document.getElementById("navigation_links").innerHTML;
      const render = Handlebars.compile(htmlTemplate);
      document.getElementById('links_result').innerHTML = render(listLinks);
    </script>
  </div> 
  <div class="navigation_name_bar">
    <span>Shine</span>
  </div>
</div>