{{!-- 
   includes/register-form.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<h1 class="text--bold text--uppercase text--primary">Registreren</h1>
<p>Als een normaal gebruiker</p>
<form>
    <input type="text" placeholder="Voer je gebruikersnaam in">
    <input type="email" placeholder="Voer je e-mail in">
    <input type="password" placeholder="Voer je wachtwoord in">
    <input type="password" placeholder="Bevestig je wachtwoord">
    <button class="margin btn wide">Registreren</button>
    <p class="center">Al een account? <span><a href="#">Log dan in!</a></span></p>
</form>

<div class="account__btn">
    <a href="#" class="btn_account active">Normale gebruiker</a>
    <a href="#" class="btn_account">School gebruiker</a>
</div>