{{!-- 
   includes/tags.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<div class="tags">
    <div class="tag__single">
        <p class="tag__name">Jekyll</p>
    </div>
    <div class="tag__single">
        <p class="tag__name">Vue.js</p>
    </div>
    <div class="tag__single">
        <p class="tag__name">HTML</p>
    </div>
</div>
