/*
.shape__about {
  position: absolute;
  top: 420px;
  right: 0;
  width: 600px;
  height: 260px;
  border-top-left-radius: 200px 100px;
  border-bottom-left-radius: 200px 100px;
  background: $primary;
  background: -webkit-linear-gradient(left top, $primary, $pink);
  background: -o-linear-gradient(bottom right, $primary, $pink);
  background: -moz-linear-gradient(bottom right, $primary, $pink);
  background: linear-gradient(to bottom right, $primary, $pink);
}
*/
