{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="article__header article center padding">
            <img class="header" src="../assets/images/icons/header.svg"/>
            <p>Op de mediacampus van de Arteveldehogeschool leiden we technisch onderlegde grafische professionals op.</p>
            <a class="btn" href="#">Bekijk hun werk</a>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <!-- <div class="fb-grid__col-10 fb-grid__col-offset-xs-1"> -->
        <div class="fb-grid__col-12">
          <div class="article__about article center">
            <h2>Over de opleiding</h2>
            <p>Grafische communicatie gebeurt via een pijlsnel groeiende waaier aan kanalen in een digitale wereld. Op de mediacampus van de Arteveldehogeschool leiden we technisch onderlegde grafische professionals op in Graphic Design, Photo Design of Audiovisual Design. Voor wie meer gepassioneerd is door code en digitale technologie is er het keuzetraject New Media Development. De innoverende commerciële breinen kunnen hun creativiteit kwijt in de keuzetrajecten Crossmedia en Printmedia.</p>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="article center">
            <h2 class="text--pink">Spotlight</h2>
            <div class="wrapper">
              <img src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
              <img src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
              <img src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
            </div>
          </div>
        </div>
      </div>
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <div class="article center">
            <h2 class="text--pink">Nieuws</h2>
            <div class="wrapper">
              <img src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
              <img src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
              <img src="http://www.a1carpet-to.com/wp-content/uploads/2015/08/600x400.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}