{{!-- pages/login.hbs --}}

{{#> layouts/base title="Login | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "head-block"}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="login-page">
      <div class="login-bg"></div>
      <div class="fb-grid__container">
        <div class="fb-grid__row">
          <div class="fb-grid__col-12">
            <div class="wrapper">
              {{> includes/login-form }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}