{{!-- pages/news.hbs --}}

{{#> layouts/base title="Contact | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "head-block"}}
  {{/inline}}

  {{#*inline "content-block"}}

    <!--<div class="fb-grid__container">
      <h1 class="center">Projecten</h1>
      <div class="fb-grid__row">
        <div class="fb-grid__col-6">
            <img src="http://lorempixel.com/400/400">
        </div>
        <div class="fb-grid__col-6">
            <img src="http://lorempixel.com/400/400">
        </div>
      </div>-->
      <h1 class="center">Projecten</h1>
      {{> includes/project-block }}
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}