$primary: rgba(252, 158, 206, 1) !default;
$primary-lighter: rgba(252, 158, 207, 0.5);
$pink: rgba(251, 202, 203, 1) !default;
$text-default: rgba(171, 171, 171, 1) !default;
$text-darker: #545454 !default;
